html {
  z-index: 1;
  
  background: linear-gradient(347.47deg, #FFAFBD 10.38%, #FFC3A0 85.6%);
  background-attachment: fixed;
  
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

* {
  margin: 0;
  padding: 0;
}

#banner {
  position: absolute;
  margin-left: 12vw;
  
  top: 20vh;
  height: 146px;
}

#name {
  font-size: 5em;
  font-weight: 400;
}

.row {
  display: flex;
}

.row > *:not(:first-child) {
  margin-left: 2vw;
}

#social .fab {
  font-size: 4rem;
  padding: 1vw 0;
  opacity: 0.6;
  text-decoration: none !important;
}

#social .fab:hover {
  opacity: 1.0;
}

@media all and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
  .fab {
    font-size: 5vw;
  }
}

@media all and (min-width: 720px) and (max-width: 1199px) {
  body {
    font-size: calc(12px + 0.5vw);
  }
  .fab {
    font-size: 4vw;
  }
}

@media all and (max-width: 719px) {
  #name {
    font-size: calc(10px + 10vw);
  }
  .fab {
    font-size: 2em;
  }
}

:link,
:visited {
  color: #000000;
}

::selection {
  background-color: #bbbbbb;
}

/* test {
  text-decoration: wavy underline #000000 2px;
} */
